<!-- authorID, name, nationality, birthDate -->
<html>
<head>
<script>
	var objId;
	var nextId = 0;
	
	function sendAuthor(){
		var sendable={};		
		$('#authorForm').serializeArray().map(function(x){sendable[x.name]=x.value;});
		var toSend = JSON.stringify(sendable);
		var action="author/";
		if(objId == 0)
		{
			action +="insert";
		}
		else
		{
			action +="update";
		}
		
		$.ajax({
			contentType : 'application/json',
			type : 'POST',
			url : action,
			data : toSend,
			async: false,
			processData : false,
			success : function() {
				alert('Success');
			},
			error : function() {
				alert('Failure');
			}
		});
		
		$('#content').load('authorsTable');
	}
	function dateFormatter(data){
		var ret = data.getFullYear()+'-';
		if((data.getMonth()+1) < 10)
		{
			ret+=('0'+(data.getMonth()+1)+'-');
		}
		else
		{
			ret+=(data.getMonth()+1)+'-';
		}
		if(data.getDate()<10)
		{
			ret+=('0'+data.getDate());
		}
		else
		{
			ret+=(data.getDate());
		}
		
		return ret;
	}
	$('#context').ready(function(){		
		objId = $('#objectId').text();
		$('#objectId').text(0);
		if (objId > 0)
		{
			$.getJSON('authors', function(data){
				$.each(data, function(key, value){
					if (value['authorID'] == objId)
					{
						$('#action').text('Update Author');
						$('input[name="name"]').val(value['name']);
						$('#nationSelector').val(value['nationality']);
						$('input[name="birthDate"]').val(dateFormatter(new Date(value['birthDate'])));
						$('input[name="authorID"]').val(objId);
						$('input[name="button"]').val('Update');
					}
					nextId++;
				});
			});			
		}
		else
		{
			$.getJSON('authors', function(data){
				$.each(data, function(key, value){
					nextId++;
				});
				nextId++;
				$('input[name="authorID"]').val(nextId);
			});			
		}
		
	});
</script>
</head>
<body>
<form id="authorForm">
	<h1 id="action">New Author</h1>
	<table>
		<tr>
			<td>Name:</td> 
			<td><input type="text" name="name" required="required"/></td>
		</tr>
		<tr>
			<td>Nationality:</td> 
			<td>
				 <select id="nationSelector" name="nationality"  required="required">
				  <option value="Hungarian">Hungarian</option>
				  <option value="British">British</option>
				  <option value="American">American</option>
				  <option value="Spanish">Spanish</option>
				  <option value="Russian">Russian</option>
				</select>
			</td>
		</tr>
		<tr>
			<td>Birthdate:</td>
			<td><input type="date" name="birthDate" placeholder=" yyyy-mm-dd" required="required"/></td>
		 </tr>
	</table>
	<input type="hidden" name="authorID" value="0"/>
	<input type="button" name="button" value="Create" onclick="sendAuthor()" />
	
	
</form>
</body>
</html>