<script>
function dateFormatter(data){
	var ret = ''+data.getFullYear()+'. '+(data.getMonth()+1)+'. '+data.getDate()+'.';
	return ret;
}

function saveId(id){
	$('#objectId').text(id);
	$('#content').load('authorForm');
}

$.getJSON('authors', function(data){
	var table = $('<table class="listingTable"></table>');
	$(table).append('<tr><th>Name</th><th>Nation</th><th>Birth Date</th></tr>');
	
	$.each(data, function(key, value){
		var row =$('<tr onclick="saveId('+value['authorID']+')"></tr>');
		var nameCell=$('<td>'+value['name']+'</td>');
		var nationCell=$('<td>'+value['nationality']+'</td>');
		var birthdateCell=$('<td>'+dateFormatter(new Date(value['birthDate']))+'</td>');
		$(row).append(nameCell);
		$(row).append(nationCell);
		$(row).append(birthdateCell);
		$(table).append(row);
	});	
 	$('#content').append("<h1>Authors</h1>");
	$('#content').append(table);
});
</script>