<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Librarian</title>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<link href="css/header.css" type="text/css" rel="stylesheet">
	<script type="text/javascript">
		//setting the width for the header picture
		function headerPicResize () {
			$('#headerpic').css('width', $('#menuBar').width());
		}
		window.addEventListener("resize", function(){
			headerPicResize();
		});
		
		$(document).ready(function(){
			$.each($('.menuButton'), function(mbIndex, mbValue){			
				$(mbValue).click(function(event){
					event.preventDefault();
					//alert($(this).find('a').text()+'--->'+$(this).find('a').attr('href'));
					$('#content').load($(this).find('a').attr('href') );
				});
			});
			headerPicResize();
		});
	</script>
</head>
<body>
	<div id="menuBar">
		<div class="menuButton"><a href="">MB1</a></div>
		<div class="menuButton"><a href="">MB1</a></div>
	</div>
	<div id="header">
		<img id="headerpic" alt="headerSkull" src="img/headerSkull.jpg">
	</div>
</body>
</html>