<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Librarian</title>
	
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	
	
	<link href="css/header.css" type="text/css" rel="stylesheet">
	<link href="css/content.css" type="text/css" rel="stylesheet">
	
	
	<script type="text/javascript">
	
		//setting the width for the header picture
		function headerPicResize () {
			if ((window.innerWidth) > ($('#content').width()))
			{
				$('#headerpic').css('width', '100%');
			}
			else 
			{
				$('#headerpic').css('width', $('#content').width());
			}
			
		}
		window.addEventListener("resize", function(){
			headerPicResize();
		});
		
		$(document).ready(function(){
			$.each($('.menuButton'), function(mbIndex, mbValue){			
				$(mbValue).click(function(event){
					event.preventDefault();
					$('#content').load($(this).find('a').attr('href') );
				});
			});
			headerPicResize();
		});
	</script>
</head>
<body>
	<div class="fixed">
		<div id="pageTitle">Librarian</div>
		<div id="menuBar">	
			<div class="menuButton"><a href="authorsTable">Authors</a></div><!-- 
		 --><div class="menuButton"><a href="booksTable">Books</a></div><!-- 
		 --><div class="menuButton"><a href="authorForm">A.Form</a></div>
		</div>
	</div>
	<div id="header">
		<img id="headerpic" alt="headerSkull" src="img/headerSkull.jpg">
	</div>
	<div id="content">
		<h1>Librarian homepage</h1>
		<p>~Just another good-for-nothing site~</p>
	</div>
	<div id="footer">
		<p>By Tamás Fodor</p>
	</div>
	<div id="objectId">0</div>
</body>
</html>