@CHARSET "UTF-8";
	*{
		margin: 0px;
		padding: 0px;
	}
	
	body{
	    background-color: #131311;
	    margin: 0px;
	    font-family: Verdana;
	}
	
	#content{
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		width: 800px;
		color:  #593F2F;
		background-color: #F2DCC9;
		border: 0px;
	}
	#content p{	
		padding:10px;
	}
	#content h1{
		font-size: 3em;
		text-align: center;
		padding-top : 20px;
		padding-bottom: 20px;
	}
	
	#content table{
		
		border-collapse: collapse;
		margin: auto;
		margin-bottom: 20px;
	}
	#content th{
		text-align: left;
		padding: 10px;
	}
	#content table td{
		padding: 10px;
	}
	#content table tr:nth-child(even){
		background-color: #8C6751;
		color: white;
	}
	#content table tr:nth-child(odd){
		background-color: #D9AA8F;
	}
	#content ul{
		list-style-type: none;
	}
	
	#footer{
		text-align: right;
		font-size: 1.5em;
		color: #F2DCC9;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	