@CHARSET "UTF-8";
		h2 { color : lime;}
		#header{
		  width:800px;
		  background:purple;		  
		}
		
		
		#page{
			width:800px;
			margin:auto;
		}
		
		#banner{
		  width: 700px;
		  height: 150px;
		  background:yellow;
		  margin: 20px 50px 0px 50px;
		  
		} 
		
		
		#news{
		  width: 100px;
		  background: grey;
		  float: right;
		}
		#content{
		  min-height: 500px;
		  width: 800px;
		  background: red;
		  padding-top: 20px;
		  margin:auto;
		}
		#pageBody{
		  
		}
		
		.newsBubble{
		  border: white dashed 3px;
		  border-radius: 10px;
		  margin: 10px;
		}
		
		.newsBubble h1{
		  background: pink;
		  font-size: 24px;
		  font-weight: normal;
		}
		.newsBubble p{
		  color: lime;
		}
		#footer{
		  width: 800px;
		  background: blue;
		  color: yellow;
		}
		#menuBar{
		  height: 50px;
		  background: #555753;
		  padding: 0px;
		  margin:0px;
		}
		
		#menuBar a{
			color: white;
			text-decoration: none;
		}
		
		#menuBar .menuButton{
			display: inline-block;
			width: 100px;
			height:35px;
			background: #555753;
			margin: 0;
			padding-top: 15px;
			text-align: center;
			transition: background 0.8s;
		}
		
		#menuBar .menuButton:HOVER{
			background: #888a85;
			color: white;
		}